:root{
  --fonte: 'Montserrat', sans-serif;
  --branco: #FFFFFF;  
  --preto: #000000;
  --cinza: #E2E2E2;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
